/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  top: 0;
  left: -20px;
  animation: marker 0.5s ease-in-out infinite alternate;
}

@keyframes marker {
  from {
    left: -20px;
  }

  to {
    left: -16px;
  }
}

.like-icon.is-liked .heart {
  animation: scale 0.3s 0.1s ease-in;
}

@keyframes scale {
  from {
    transform: scale(1);
    transform-origin: center;
  }

  50% {
    transform: scale(1.5);
    transform-origin: center;
  }

  to {
    transform: scale(1);
    transform-origin: center;
  }
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s 0.3s ease-in;
}

@keyframes sparks {
  from {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.button-hover:hover .button__text,
.button-hover:hover .floppy {
  animation: opacity-in 0.4s linear;
}

.button-hover:not(:hover) .button__text,
.button-hover:not(:hover) .floppy {
  animation: opacity-out 0.4s linear;
}

@keyframes opacity-in {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}

@keyframes opacity-out {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}
